{% extends 'base.html' %}

{% block title %} Strona główna {% endblock %}

{% block content %}
<h2>Ostatnio dodane tweety</h2>
<table>
    <tr>
        <th>Tweet</th>
        <th>Autor</th>
    </tr>
    {% for tweet in tweets %}
    <tr>
        <td><a href="/tweet/{{ tweet.id }}">{{ tweet.content }}</a></td>
        <td>{{ tweet.user }}</td>
    </tr>
    {% endfor %}
</table>


<!--<footer>-->
<!--    {% if username %}-->
<!--        {{ username }}-->
<!--    <a href="/logout">Wyloguj</a>-->
<!--    {% else %}-->
<!--    <a href="/login">Zaloguj</a>-->
<!--    {% endif %}-->
<!--</footer>-->
{% endblock %}


